# Advanced environment customization with configuration files (.ebextensions)
# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/ebextensions.html


# Elastic Beanstalk supported platforms
# https://docs.aws.amazon.com/elasticbeanstalk/latest/platforms/platforms-supported.html#platforms-supported.python

# Python 3.7 support on Elastic Beanstalk
# https://forums.aws.amazon.com/thread.jspa?messageID=925073

# AWS Elastic Beanstalk Launches Python 3.7 on AL2 Platform (Beta)
# https://aws.amazon.com/about-aws/whats-new/2020/02/aws-elastic-beanstalk-launches-python-3-7-on-al2-platform-beta
# Posted On: Feb 11, 2020

# Release: Elastic Beanstalk public beta update for Amazon Linux 2 platforms on February 5, 2020
# https://docs.aws.amazon.com/elasticbeanstalk/latest/relnotes/release-2020-02-05-al2-beta.html
# "The only key feature that beta platform versions still don't support is serving static files"

# Migrating your Elastic Beanstalk Linux application to Amazon Linux 2
# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/using-features.migration-al.html


# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options-specific.html#command-options-python
container_commands:
  # 00_migrate:
  #   command: "python manage.py migrate"
  #   leader_only: true

  # 01_collect_static_files:
  #   command: "python manage.py collectstatic --clear --no-input"

  02_wsgi_pass_authorization_on:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'

# Option settings
# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/ebextensions-optionsettings.html
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: settings

  # https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create-deploy-python-container.html#python-namespaces
  aws:elasticbeanstalk:container:python:
    WSGIPath: wsgi:application

  # https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/environment-cfg-staticfiles.html
  # By default, the proxy server in a Python environment serves any files in a folder named static at the /static path

  # start the path with a slash (/)
  # specify a directory name in the root of your application's source code; don't start it with a slash
  # https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/environment-cfg-staticfiles.html#environment-cfg-staticfiles.namespace
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

packages:
  yum:
    postgresql-devel: []
