option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "DjangoProject.settings"
    PYTHONPATH: "/opt/python/current/app/DjangoProject:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "DjangoProject/DjangoProject/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
      "/static/": "DjangoProject/static/"

packages:
  yum:
    git: []
    postgresql93-devel: []
