container_commands:
  000_migrate:
    command: "python manage.py migrate"
    leader_only: true

  001_wsgi_pass_authorization_on:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: test_django_project._django_project_root.settings

  aws:elasticbeanstalk:container:python:
    WSGIPath: test_django_project._django_project_root.wsgi:application
