# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options-specific.html#command-options-python
container_commands:
  # 00_migrate:
  #   command: "python manage.py migrate"
  #   leader_only: true

  # 01_collect_static_files:
  #   command: "python manage.py collectstatic --clear --no-input"

  02_wsgi_pass_authorization_on:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'

# Option settings
# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/ebextensions-optionsettings.html
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: settings

  # https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create-deploy-python-container.html#python-namespaces
  aws:elasticbeanstalk:container:python:
    WSGIPath: wsgi:application

  # https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/environment-cfg-staticfiles.html
  # By default, the proxy server in a Python environment serves any files in a folder named static at the /static path

  # start the path with a slash (/)
  # specify a directory name in the root of your application's source code; don't start it with a slash
  # https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/environment-cfg-staticfiles.html#environment-cfg-staticfiles.namespace
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

packages:
  yum:
    postgresql-devel: []
